body {
  padding-top: 70px;
}

.home {
  display: table-cell !important;
}

.list {
  width: 240px;
  height: 100%;
}

main {
  background-color: #EEFFFF;
  height: 100%;
}

.navbar-brand {
  color: red;
}

